<link rel="import" href="customer-info-form.html">
<link rel="import" href="customer-shipping-info-form.html">
<link rel="import" href="customer-payment-info-form.html">

<dom-module id="checkout-process">
    <template>
        <style>
            :host {
                display: block;
            }

            #customer-shipping-info-form,
            #customer-payment-info-form,
            #thankyou-page {
                display: none;
            }

            #thankyou-page {
                padding: 2em;
                min-height: 300px;
            }
        </style>
        <customer-info-form
            id="customer-info-form"
            is-submitted="{{ form1ready }}"></customer-info-form>
        <customer-shipping-info-form
            id="customer-shipping-info-form"
            is-submitted="{{ form2ready }}"></customer-shipping-info-form>
        <customer-payment-info-form
            id="customer-payment-info-form"
            is-submitted="{{ form3ready }}"></customer-payment-info-form>
        <div id="thankyou-page">
            <h1>Thank you!</h1>
            <p>Your information has been submitted sucessfully.</p>
        </div>
    </template>
    <script>
        Polymer({
            is: "checkout-process",
            properties: {
                form1ready: {
                    type: Boolean,
                    value: false,
                    observer: '__showForm2'
                },
                form2ready: {
                    type: Boolean,
                    value: false,
                    observer: '__showForm3'
                },
                form3ready: {
                    type: Boolean,
                    value: false,
                    observer: '__showThankYou'
                }
            },
            __showForm2: function(newVal, oldVal) {
                var self = this;

                if (newVal) {
                    var customer_info_form = self.$$('#customer-info-form');
                    var customer_shipping_info_form = self.$$('#customer-shipping-info-form');

                    customer_info_form.style.display = 'none';
                    customer_shipping_info_form.style.display = 'block';
                }
            },
            __showForm3: function(newVal, oldVal) {
                var self = this;

                if (newVal) {
                    var customer_shipping_info_form = self.$$('#customer-shipping-info-form');
                    var customer_payment_info_form = self.$$('#customer-payment-info-form');

                    customer_shipping_info_form.style.display = 'none';
                    customer_payment_info_form.style.display = 'block';
                }
            },
            __showThankYou: function(newVal, oldVal) {
                var self = this;

                if (newVal) {
                    var customer_payment_info_form = self.$$('#customer-payment-info-form');
                    var thankyou_page = self.$$('#thankyou-page');

                    customer_payment_info_form.style.display = 'none';
                    thankyou_page.style.display = 'block';
                }
            }
        });
    </script>
</dom-module>
