<dom-module id="customer-shipping-info-form">
    <template>
        <style>
            :host {
                display: block;
                padding: 2em;
                min-height: 300px;
            }
        </style>

        <div class="form-group">
            <label for="street_address_1">*Street Address 1: </label>
            <input id="street_address_1" name="street_address_1" type="text" maxlength="100" class="form-control">
        </div>
        <div class="form-group">
            <label for="street_address_2">Street Address 2: </label>
            <input id="street_address_2" name="street_address_2" type="text" maxlength="100" class="form-control">
        </div>
        <div class="form-group">
            <label for="city">*City: </label>
            <input id="city" name="city" type="text" maxlength="100" class="form-control">
        </div>
        <div class="form-group">
            <label for="state">*State: </label>
            <input id="state" name="state" type="text" maxlength="2" class="form-control">
        </div>
        <div class="form-group">
            <label for="zip">*ZIP: </label>
            <input id="zip" name="zip" type="text" class="form-control">
        </div>
        <button on-tap="__submit_form" class="btn btn-default submit-btn">Submit</button>
    </template>
    <script>
        Polymer({
            is: "customer-shipping-info-form",
            properties: {

            },
            __submit_form: function() {
                var self = this;
                var street_address_1 = this.$$('#street_address_1');
                var street_address_2 = this.$$('#street_address_2');
                var city = this.$$('#city');
                var state = this.$$('#state');
                var zip = this.$$('#zip');

                var validation_rules = [
                    {
                        elem: street_address_1,
                        regex: /^\s*\S+(?:\s+\S+){2}/
                    },
                    {
                        elem: city,
                        regex: /^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$/
                    },
                    {
                        elem: state,
                        regex: /^(?:(A[KLRZ]|C[AOT]|D[CE]|FL|GA|HI|I[ADLN]|K[SY]|LA|M[ADEINOST]|N[CDEHJMVY]|O[HKR]|P[AR]|RI|S[CD]|T[NX]|UT|V[AIT]|W[AIVY]))$/
                    },
                    {
                        elem: zip,
                        regex: /^\d{5}$/
                    }
                ];

                self.__validate_form(validation_rules, 'input-error');
            },
            __validate_form: function(elems, err_cls) {
                var self = this;
                for (var i = 0; i < elems.length; i++) {
                    var el = elems[i].elem;
                    var rx = elems[i].regex;

                    if (self.__validate_el(el, rx)) {
                        self.__remove_class(el, err_cls);
                    } else {
                        self.__add_class(el, err_cls);
                    }
                }
            },
            __validate_el: function(el, regex) {
                var val = el.value;
                return val.match(regex) !== null;
            },
            __add_class: function(el, cls) {
                if (!el.classList.contains(cls)) {
                    el.classList.add(cls);
                }
            },
            __remove_class: function(el, cls) {
                if (el.classList.contains(cls)) {
                    el.classList.remove(cls);
                }
            }
        });
    </script>
</dom-module>
