<dom-module id="customer-info-form">
    <template>
        <style>
            :host {
                display: block;
                padding: 2em;
                min-height: 300px;
            }
        </style>
        <h1>Customer Info</h1>
        <div class="form-group">
            <label for="first_name">*First Name: </label>
            <input id="first_name" name="first_name" type="text" maxlength="50" class="form-control">
        </div>
        <div class="form-group">
            <label for="middle_initial">Middle Initial: </label>
            <input id="middle_initial" name="middle_initial" type="text" maxlength="1" class="form-control">
        </div>
        <div class="form-group">
            <label for="last_name">*Last Name: </label>
            <input id="last_name" name="last_name" type="text" maxlength="100" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">*Email Address: </label>
            <input id="email" name="email" type="text" maxlength="200" class="form-control">
        </div>
        <button on-tap="__submit_form" class="btn btn-default submit-btn">Submit</button>
    </template>
    <script>
        Polymer({
            is: "customer-info-form",
            properties: {
                isSubmitted: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true,
                    notify: true
                }
            },
            __is_valid_form: function(err_cls) {
                var self = this;
                var obj = self.$;

                for (var prop in obj) {
                    var elem = obj[prop];
                    if (elem.classList.contains(err_cls)) {
                        return false;
                    }
                }

                return true;
            },
            __submit_form: function() {
                var self = this;
                var first_name = this.$$('#first_name');
                var middle_initial = this.$$('#middle_initial');
                var last_name = this.$$('#last_name');
                var email = this.$$('#email');

                var validation_rules = [
                    {
                        elem: first_name,
                        regex: /^[a-zA-Z ,.'-]+$/
                    },
                    {
                        elem: last_name,
                        regex: /^[a-zA-Z ,.'-]+$/
                    },
                    {
                        elem: email,
                        regex: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                    }
                ];

                self.__validate_form(validation_rules, 'input-error');

                if (self.__is_valid_form('input-error')) {
                    var user = {
                        first_name: first_name.value,
                        middle_initial: middle_initial.value,
                        last_name: last_name.value,
                        email: email.value
                    };

                    self.__submit_user_data(user);
                    self.set('isSubmitted', true);
                }
            },
            __submit_user_data: function(user_data) {
                var authed_user = localStorage.getItem('authed_user');
                var authed_user_obj = JSON.parse(authed_user);
                var firebaseRef = firebase.database().ref('users/' + authed_user_obj['uid'] + '/contact_info');
                firebaseRef.set(user_data);
            },
            __validate_form: function(elems, err_cls) {
                var self = this;
                for (var i = 0; i < elems.length; i++) {
                    var el = elems[i].elem;
                    var rx = elems[i].regex;

                    if (self.__validate_el(el, rx)) {
                        self.__remove_class(el, err_cls);
                    } else {
                        self.__add_class(el, err_cls);
                    }
                }
            },
            __validate_el: function(el, regex) {
                var val = el.value;
                return val.match(regex) !== null;
            },
            __add_class: function(el, cls) {
                if (!el.classList.contains(cls)) {
                    el.classList.add(cls);
                }
            },
            __remove_class: function(el, cls) {
                if (el.classList.contains(cls)) {
                    el.classList.remove(cls);
                }
            }
        });
    </script>
</dom-module>
