<dom-module id="ecommerce-product">
    <template>
        <style>
            :host {
                display: inline-block;
                margin: 1em 0;
            }

            :host img {
                width: 100%;
            }

            :host p {
                font-size: 1em;
            }

            :host .product-img {
                display: block;
                position: relative;
            }

            :host .product-price {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 125px;
                height: 50px;
                background: #2196F3;
                font-size: 1.5em;
                padding: .25em;
            }

            :host .product-price p {
                color: #fff;
                margin-left: 20px;
            }

            :host .shopping-cart-btn {
                position: absolute;
                bottom: 80px; right: -40px;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background: #FFFF8D;
                z-index: 1;
                -webkit-box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.75);
                box-shadow: -1px 0px 10px 0px rgba(0,0,0,0.75);
            }

            :host .shopping-cart-btn i {
                margin: 22px 0 0 22px;
                font-size: 2em;
            }

            :host .shopping-cart-btn:hover {
                cursor: pointer;
            }
        </style>

        <div class="col-md-12">
            <div class="col-md-6">
                <div class="product-img">
                    <img class="img-responsive" src="{{ image }}">
                    <div class="product-price"><p>$5.99</p></div>
                    <div on-tap="__addToCart" class="shopping-cart-btn">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3>{{ name }}</h3>
                <p>{{ __truncateString(desc, 200) }}</p>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "ecommerce-product",
            properties: {
                id: String,
                name: String,
                desc: String,
                image: String
            },
            __truncateString: function(description, length) {
                var ellipsis = "...";
                description = description.substr(0, length);
                return description + ellipsis;
            },
            __addToCart: function() {
                var self = this;
                var product = {
                    id: self.id,
                    name: self.name,
                    desc: self.desc,
                    image: self.image
                };

                var shopping_cart = [];
                var shopping_cart_ref = localStorage.getItem('shopping-cart');

                if (shopping_cart_ref !== null) {
                    shopping_cart = JSON.parse(shopping_cart_ref);
                }

                shopping_cart.push(product);
                // TODO: check for duplicate product. Add qty to each product.
                localStorage.setItem('shopping-cart', JSON.stringify(shopping_cart));
            }
        });
    </script>
</dom-module>
