<dom-module id="shopping-cart">
    <template>
        <style>
            :host {
                display: block;
            }

            :host .product-name {
                min-width: 200px;
            }
        </style>

        <h1>Shopping Cart</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="{{ shoppingCartItems }}">
                    <tr>
                        <td class="product-name">{{ item.name }}</td>
                        <td>{{ item.desc }}</td>
                        <td><img width="100" src="{{ item.image }}"></td>
                        <td>$5.99</td>
                    </tr>
                </template>
            </tbody>
        </table>
    </template>
    <script>
        Polymer({
            is: "shopping-cart",
            properties: {
                shoppingCartItems: {
                    type: Array,
                    value: []
                }
            },
            ready: function() {
                var self = this;
                var shopping_cart_items = [];
                var shopping_cart_ref = localStorage.getItem('shopping-cart');

                if (shopping_cart_ref !== null) {
                    shopping_cart_items = JSON.parse(shopping_cart_ref);
                }

                self.set('shoppingCartItems', shopping_cart_items);
            }
        });
    </script>
</dom-module>
