<dom-module id="shopping-cart">
    <template>
        <style>
            :host {
                display: block;
            }

            :host .product-name {
                min-width: 200px;
            }
        </style>

        <h1>Shopping Cart</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="{{ shoppingCartItems }}">
                    <tr id$="{{ item.id }}" class="product">
                        <td class="product-name">{{ item.name }}</td>
                        <td>x{{ item.qty }}</td>
                        <td>{{ item.desc }}</td>
                        <td><img width="100" src="{{ item.image }}"></td>
                        <td>$5.99</td>
                        <td class="remove-icon"><i data-id$="{{ item.id }}" on-tap="__removeProduct" class="fa fa-trash"></i></td>
                    </tr>
                </template>
            </tbody>
        </table>
    </template>
    <script>
        Polymer({
            is: "shopping-cart",
            properties: {
                shoppingCartItems: {
                    type: Array,
                    value: []
                }
            },
            ready: function() {
                var shopping_cart_items = [];
                var shopping_cart_ref = localStorage.getItem('shopping-cart');

                if (shopping_cart_ref !== null) {
                    shopping_cart_items = JSON.parse(shopping_cart_ref);
                }

                this.set('shoppingCartItems', shopping_cart_items);
            },
            __removeProduct: function(e) {
                var product_id = e.target.getAttribute('data-id');
                this.$$('#' + product_id).style.display = 'none';

                var shopping_cart_ref = localStorage.getItem('shopping-cart');
                var shopping_cart = JSON.parse(shopping_cart_ref);

                for (var i = 0; i < shopping_cart.length; i++) {
                    if (shopping_cart[i]['id'] === product_id) {
                        shopping_cart.splice(i, 1);
                        break;
                    }
                }

                localStorage.setItem('shopping-cart', JSON.stringify(shopping_cart));
            }
        });
    </script>
</dom-module>
