<dom-module id="shopping-cart-icon">
    <template>
        <style>
            :host {
                font-size: 1.4em;
                color: #fff;
            }

            :host #shopping-cart {
                display: block;
                position: relative;
            }
        </style>

        <div id="shopping-cart">
            <i class="fa fa-shopping-cart"></i>
        </div>
    </template>
    <script>
        Polymer({
            is: "shopping-cart-icon"
        });
    </script>
</dom-module>
