<link rel="import" href="/bower_components/polymerfire/firebase-auth.html">

<dom-module id="simple-auth">
    <template>
        <firebase-auth
            id="auth"
            signed-in="{{ signedIn }}"
            user="{{ user }}"
            status-known="{{ statusKnown }}"
            provider="google">
        </firebase-auth>

    </template>
    <script>
        Polymer({
            is: "simple-auth",
            properties: {
                user: {
                    type: Object,
                    value: null
                },
                statusKnown: {
                    type: Boolean,
                    value: false,
                    observer: '__handleLogin'
                },
                signedIn: {
                    type: Boolean,
                    value: false
                }
            },
            __handleLogin: function(newData, oldData) {
                var self = this;
                if (newData) {
                    if (self.signedIn) {
                        var user = {
                            uid: self.user['uid'],
                            name: self.user['displayName']
                        }

                        localStorage.setItem('authed_user', JSON.stringify(user));
                    } else {
                        self.$.auth.signInWithRedirect();
                    }
                }
            }
        });
    </script>
</dom-module>
