body {
    font-family: $site-body-font;
    color: material-color('grey', '700');
    background: material-color('grey', '50');
}

h1, h2, h3, h4, h5, h6 {
    font-family: $site-heading-font;
    color: material-color('grey', '900');
}
